[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "rlvgl"]
	path = rlvgl
	url = git@github.com:SoftOboros/rlvgl.git
	branch = v0.2.4
	fetchRecurseSubmodules = false
	update = checkout
	ignore = dirty
